.container
  .row
    .col-md-5
      .page-header
        %h1
          = @reference_database.name
      .panel.panel-default
        .panel-heading
          = t('path')
        .panel-body
          = @reference_database.path


      = link_to t('edit'), edit_reference_database_path(@reference_database), class: 'btn btn-primary'
